
/* Common styles for body *, nav, and main */
body *{
    border: 4px solid #7f007f;
    background-color: lemonchiffon;
    margin: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    height: 100vh;
}

/* Specific styles for nav and main */
 header, footer  {
    height: 20vh;
}
nav{
    height: 10vh;
}

main {
    height: 40vh;
    flex-grow: 4;
    
}

/* Media query for smaller devices */
@media only screen and (max-width: 600px) {
    body *,
    nav, header{
        height: 20vh;
        flex-grow: 2;
        font-size: inherit;
    }

    main {
        height: 25vh;
    }
}
=======
body *{
    border: 4px solid #7f007f;
    background-color: lemonchiffon;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    height: 50px;
}

main{
    height: 47vh;
}